
body {
    font-size:11px;
}

#container {
    margin-left:25px;
    margin-right:5px;
    min-height:300px;
}

#content {
    float:none;
    padding:0;
    padding-bottom:5px;
}

#CenterColumn {
    margin-top:0;
    margin-left:5px;
}

.showmobile {
    display:block;
}

.hidemobile {
    display:none;
}

a {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top:3px;
    margin-bottom:3px;
}

ul.ulink li:last-child a {
    border-radius:0;
}

/* Award */
div#award-process{
    margin-top:5px;
    margin-left:0;
}

.award-process-box{
    height:2.75em;
    padding:3px;
    min-width:47px;
    width:18%;
    margin-right:0;
}

@media screen and (max-width:515px){
    .award-process-box{
        width:17%;
    }
}

/* Board */
.boardbox {
    float:none;
    text-align:center;
    width:92%;
    margin:5px auto;
}

#boardcontainer {
    float:none;
}

#boardcontainer h2 {
    text-align:center;
    float:none;
}

/* Share Links */
.sharelinks, #searchform {
    float:none;
    display:block;
    width:100%;
}

.sharelinks {
    width:185px;
    margin:auto;
}

.addthis_button_print {
    display:none;
}

#at3win {
    width:94%!important;
    left:3%!important;
    top:5%!important;
    margin:auto;
}

/* SiteMap */
.sitemap .sitemapbox {
    display:table;
    width:50%;
    padding:0;
    height:30px;
    line-height:30px;
    margin:0 auto;
    vertical-align:middle;
    text-align:center;
}

.sitemap h2 {
    text-align:center;
}

/* Honor Score */
div.honorscoreheadercontainer .floatbox
{
    width:50%;
    height:60px;
}

div.honorscoreheadercontainer .floatbox a {
    width:75%;
    height:35px;
    line-height:33px;
}

div.honorscoreheadercontainer h2 {
    text-align:center;
}

/* Season Average */
#seasonaverage_header{
    height:auto;
}

.average-searchbox {
    height:auto;
}

.seasonaverageform{
    float:none;
    width:100%;
}

/* Awards */
div.award .longbox
{
    width:95%;
    display:block;
}

div.award .shortbox {
    width:45%;
    display:block;
}

div.award .longbox input {
    width:80%;
}

/* Navigation Links */
.pill-top, .pill-bottom {
    border-radius:0;
    margin:0 10px;
}

#LeftColumn {
    padding-top:40px;
    width:150px;
    left:-5px;
    position:fixed;
    top:-5px;
    bottom:-5px;
    text-align:center;

    border-right:30px solid #9ACD32;
    background-color:#FAFAD2;

    overflow-y:auto;
    z-index:999;

    border-radius:0 0px 15px 0;
    transition:left linear 250ms;
    -webkit-transition:left linear 250ms;
    -moz-transition:left linear 250ms;
    -o-transition:left linear 250ms;
}

#MobileNav {
    visibility:visible;
}

/*#LeftColumn:hover {
    left:-10px;
}*/

/* #nav:after {
    position:absolute;
    content:' ';
    width:0;
    height:0;
    right:-50px;
    top:100px;
    border-width:20px 10px;
    border-style:solid;
    border-color:transparent transparent transparent #9ACD32;
} */

/* Admin Navigation */
#admintab {
    padding-top:0px;
    padding-bottom:10px;
    width:150px;
    right:-150px;
    position:fixed;
    top:8px;
    bottom:auto;
    text-align:center;
    border:20px solid #B8860B;
    border-right:none;
    background-color:#FAFAD2;

    border-radius:15px 0 0 15px;
    transition:right linear 250ms;
    -webkit-transition:right linear 250ms;
    -moz-transition:right linear 250ms;
    -o-transition:right linear 250ms;
}

#admintab:hover {
    right:0;
}

#admintab:before {
    position:absolute;
    content:' ';
    width:0;
    height:0;
    left:-35px;
    top:80px;
    border-width:12px 8px;
    border-style:solid;
    border-color:transparent #B8860B transparent transparent;
}